Repository mash-up-kr/VitaminC_Web, pull requests merged in 2024-08, with the labels that each got.

#85 feat: update category icon & handle menuList photo
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/search/[query]/result-search-list.tsx
  src/components/common/icons/index.ts
  src/components/common/icons/기타.svg
  src/components/place/menu-list.tsx
  src/components/place/place-auto-search-item.tsx
  src/components/place/place-list-item.tsx
  src/components/place/types.ts
  src/constants/place.ts
  src/models/map.interface.ts
  src/types/api/place.ts
  src/types/map/kakao-raw-type.ts
  src/utils/category.ts
  src/utils/format.ts
Labels: feature

#84 feat: fix design and feature bugs
  public/images/intro-making-map.png
  src/app/globals.css
  src/app/intro/page.tsx
  src/app/invite/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/search/[query]/result-search-list.tsx
  src/app/test-design/page.tsx
  src/components/boarding-pass/boarding-divider.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/boarding-pass/boarding-members.tsx
  src/components/boarding-pass/invite-boarding-pass-info.tsx
  src/components/boarding-pass/invited-boarding-pass.tsx
  src/components/boarding-pass/inviting-boarding-pass.tsx
  src/components/boarding-pass/types.ts
  src/components/carousel/slide.tsx
  src/components/common/avatar.tsx
  src/components/common/input.tsx
  src/components/intro/steps/invite.tsx
  src/components/intro/steps/mapname.tsx
  src/components/intro/steps/nickname.tsx
  src/components/spinner.tsx
  src/components/tag-list.tsx
  src/hooks/use-fetch.ts
  src/hooks/use-user.ts
  src/middleware.ts
  src/models/map.interface.ts
  src/models/user.interface.ts
  src/types/api/place.ts
  src/utils/string.ts
Labels: feature, test

#87 fix: logout
  src/app/api/token/route.ts
  src/app/setting/page.tsx
Labels: fix

#86 refactor: use-fetch
  src/app/map/[mapId]/page.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-delete-modal.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/place/[placeId]/register/hash-tag-list.tsx
  src/app/place/[placeId]/register/tags.ts
  src/app/search/[query]/result-search-list.tsx
  src/components/BottomModal.tsx
  src/components/carousel/index.tsx
  src/components/common/custom-toast.tsx
  src/components/common/qr-code.tsx
  src/components/intro/steps/login.tsx
  src/components/like-button.tsx
  src/components/place/menu-list.tsx
  src/components/place/place-list-item.tsx
  src/components/place/place-map-popup.tsx
  src/components/search-input.tsx
  src/hooks/use-fetch.ts
  src/hooks/use-safe-router.ts
  src/utils/api/index.ts
Labels: refactor

#88 feat: set mobile url at kakao share
  src/hooks/use-kakao-share.ts
Labels: fix

#89 feat: qa in result
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/search-anchor-box.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/search/[query]/result-place-popup-skeleton.tsx
  src/app/search/[query]/result-search-box.tsx
  src/components/kakao-map/marker.tsx
  src/components/korrk-kakao-map.tsx
  src/components/place/menu-list.tsx
  src/components/place/place-list-item.tsx
  src/components/place/place-map-popup.tsx
  src/components/tag-list.tsx
  src/types/api/place.ts
  src/utils/format.ts
  src/utils/number.ts
Labels: feature

#90 refactor: use cache and useFetch to dedupe api call
  public/images/404.png
  src/app/intro/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/not-found.tsx
  src/app/place/[placeId]/page.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/register/hash-tag-list.tsx
  src/app/place/[placeId]/register/page.tsx
  src/app/place/[placeId]/register/register-box.tsx
  src/app/search/[query]/result-search-box.tsx
  src/app/search/[query]/result-search-list.tsx
  src/app/search/search-box.tsx
  src/app/search/search-form.tsx
  src/app/setting/page.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/kakao-map/marker.tsx
  src/components/place/place-map-popup.tsx
  src/hooks/use-fetch.ts
  src/services/user.ts
  src/utils/api/api-client-factory.ts
  src/utils/api/route.ts
Labels: refactor

#91 feat: update designs & improve components
  package-lock.json
  package.json
  public/images/intro-lets-go.png
  public/images/treasure.png
  public/lotties/loading.json
  src/app/apple-icon.png
  src/app/intro/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/components/bottom-sheet/index.tsx
  src/components/carousel/slide.tsx
  src/components/common/lottie.tsx
  src/components/loading-indicator.tsx
  src/components/place/place-list-item.tsx
  src/hooks/use-measure.ts
  src/hooks/use-window-size.ts
Labels: feature

#92 fix: fix caching related bugs
  src/app/map/[mapId]/page.tsx
  src/hooks/use-fetch.ts
  src/utils/date.ts
Labels: bug, fix

#94 fix: fix bugs found during self-QA
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/not-found.tsx
  src/app/place/[placeId]/register/page.tsx
  src/components/loading-indicator.tsx
Labels: fix

#95 docs: update README.md
  README.md
Labels: documentation

#96 feat: spraying the bugs with f-killer:
  src/app/map/[mapId]/filter-modal-body.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/search/[query]/result-search-box.tsx
  src/app/search/[query]/result-search-list.tsx
  src/app/search/page.tsx
  src/app/search/search-box.tsx
  src/app/search/search-form.tsx
  src/components/BottomModal.tsx
  src/components/bottom-sheet/index.tsx
  src/components/korrk-kakao-map.tsx
  src/components/place/place-list-item.tsx
  src/components/place/types.ts
  src/components/search-input.tsx
  src/hooks/use-fetch.ts
Labels: feature

#99 refactor: improve /intro page and useFetch
  src/app/intro/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/components/intro/steps/nickname.tsx
  src/hooks/use-fetch.ts
  src/models/interface.ts
  src/utils/storage/index.ts
Labels: refactor

#100 fix: fix bugs that occur in unknown situations
  src/components/carousel/slide.tsx
  src/components/common/lottie.tsx
  src/components/loading-indicator.tsx
  src/services/user.ts
Labels: bug, fix

#101 fix: fix authorization related bug
  src/app/intro/page.tsx
  src/middleware.ts
  src/services/user.ts
  src/utils/api/api-client-factory.ts
  src/utils/api/route.ts
Labels: fix

#102 fix: implement cookie deletion by cookies().set
  src/app/api/token/route.ts
  src/services/user.ts
Labels: fix

#103 fix: set cookie options exactly the same as server
  src/app/api/token/route.ts
Labels: fix

#104 fix: fix image url security issue
  src/app/search/[query]/result-place-map-popup.tsx
  src/components/boarding-pass/invited-boarding-pass.tsx
  src/components/carousel/slide.tsx
  src/components/index.ts
  src/components/place/menu-list.tsx
  src/components/place/place-list-item.tsx
  src/components/place/place-map-popup.tsx
  src/components/proxy-image.tsx
  src/utils/api/http-client.ts
  src/utils/api/index.ts
Labels: fix

#105 fix: prevent rendering of images with empty src
  src/app/invite/page.tsx
  src/app/search/search-box.tsx
  src/components/place/menu-list.tsx
  src/components/proxy-image.tsx
Labels: fix

#106 fix: allow existing users to board by invitation
  src/app/intro/page.tsx
  src/app/invite/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/place/[placeId]/page.tsx
  src/app/place/[placeId]/register/page.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/boarding-pass/invited-boarding-pass.tsx
  src/components/boarding-pass/types.ts
  src/components/intro/steps/invite.tsx
  src/services/invitation.ts
  src/services/user.ts
Labels: fix

#107 feat: show more menu with fixing bug
  package-lock.json
  package.json
  public/images/QRLogo.png
  public/images/opengraph-image.png
  public/images/square.png
  src/app/layout.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/search/[query]/result-search-list.tsx
  src/components/common/qr-code.tsx
  src/components/place/menu-list.tsx
  src/components/proxy-image.tsx
  src/hooks/use-lazy-image.ts
Labels: feature

#108 fix: filter and invite
  public/images/ship-3d.png
  src/app/invite/page.tsx
  src/app/map/[mapId]/filter-modal-body.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/loading-indicator.tsx
  src/components/place/empty-place-list.tsx
  src/hooks/use-kakao-share.ts
  src/utils/date.ts
  src/utils/storage/index.ts
Labels: fix

#111 feat: update design
  public/images/404.png
  public/images/intro-find-treasure.gif
  public/images/intro-find-treasure.png
  public/images/intro-lets-go.gif
  public/images/intro-lets-go.png
  public/images/intro-lost-map.gif
  public/images/intro-lost-map.png
  public/images/intro-making-map.png
  public/images/invitation.png
  public/images/loading.png
  public/images/treasure.png
  src/app/place/[placeId]/place-box.tsx
  src/components/common/carousel/index.tsx
  src/components/common/image.tsx
  src/components/common/loading-indicator.tsx
  src/components/intro/steps/login.tsx
Labels: feature

#110 feat: make user experience more natural
  src/app/intro/page.tsx
  src/app/invite/page.tsx
  src/app/layout.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-delete-modal.tsx
  src/app/place/[placeId]/register/hash-tag-list.tsx
  src/app/place/[placeId]/register/register-box.tsx
  src/app/search/[query]/result-search-box.tsx
  src/app/search/search-box.tsx
  src/app/setting/page.tsx
  src/components/intro/steps/nickname.tsx
  src/components/kakao-map/gps-button.tsx
  src/components/kakao-map/kakao-map.tsx
  src/components/kakao-map/marker.tsx
  src/components/place/menu-list.tsx
  src/components/place/place-auto-search-item.tsx
  src/utils/api/index.ts
  src/utils/storage/index.ts
Labels: fix

#113 feat: improve ux
  src/components/common/bottom-sheet/index.tsx
  src/hooks/use-user-geo-location.ts
Labels: feature

#112 fix: bug bug bug
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-delete-modal.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/search/[query]/result-search-list.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/place/place-map-popup.tsx
Labels: fix

#114 fix: add missing deps array
  src/app/intro/page.tsx
Labels: fix

#115 fix: everything
  .prettierrc.json
  package-lock.json
  src/app/intro/page.tsx
  src/components/intro/steps/invite.tsx
  src/hooks/use-safe-router.ts
  src/services/invitation.ts
Labels: fix
