Repository mash-up-kr/VitaminC_Web, pull requests merged in 2024-05, with the labels that each got.

#3 feat: set CODEOWNERS file and template for issue, pr
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: config

#5 feat: auto assign label to pr at workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: feature, config

#4 feat: set up Next.js environment with tanstack-query
  .eslintrc.json
  .gitignore
  README.md
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  public/next.svg
  public/vercel.svg
  src/app/(test)/query-test/Components.tsx
  src/app/(test)/query-test/page.tsx
  src/app/api/delay/route.ts
  src/app/api/error.ts
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/provider.tsx
  tailwind.config.ts
  tsconfig.json
Labels: feature

#7 feat: set up Vitest for Next.js
  .editorconfig
  .npmrc
  .nvmrc
  package-lock.json
  package.json
  src/__tests__/app/page.test.tsx
  src/__tests__/utils/number.test.ts
  src/utils/number.ts
  tsconfig.json
  vitest.config.mts
Labels: feature, config, test

#8 feat: add Storybook for Next.js and Tailwind CSS
  .eslintrc.json
  .github/pull_request_template.md
  .github/workflows/labeler.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  tailwind.config.ts
Labels: feature, documentation, config

#9 feat: set eslint, prettier, lint check action
  .eslintrc.json
  .github/workflows/code-validation.yml
  .prettierrc.json
  next.config.mjs
  package-lock.json
  package.json
  src/__tests__/app/page.test.tsx
  src/__tests__/utils/number.test.ts
  src/app/(test)/query-test/Components.tsx
  src/app/(test)/query-test/page.tsx
  src/app/api/delay/route.ts
  src/app/layout.tsx
  src/app/provider.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Page.stories.ts
  src/utils/number.ts
Labels: feature
