Repository mash-up-kr/VitaminC_Web, pull requests merged in 2024-09, with the labels that each got.

#117 refactor: update loading, root page and bottom sheet
  next.config.mjs
  public/images/invitation.png
  src/app/intro/page.tsx
  src/app/invite/page.tsx
  src/app/loading.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/map/create/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/search/[query]/result-search-box.tsx
  src/app/search/page.tsx
  src/app/search/search-box.tsx
  src/components/boarding-pass/invited-boarding-pass.tsx
  src/components/common/bottom-sheet/index.tsx
  src/components/common/carousel/slide.tsx
  src/components/intro/steps/invite.tsx
  src/components/intro/steps/new-map.tsx
  src/components/place/place-auto-search-item.tsx
  src/components/place/place-list-item.tsx
  src/services/invitation.ts
Labels: refactor

#118 fix: show skeleton when fetch image
  package-lock.json
  src/components/common/proxy-image.tsx
Labels: fix

#119 refactor: refactor carousel and fix bottom sheet
  public/images/invitation.png
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/oauth/kakao/page.tsx
  src/app/oauth/layout.tsx
  src/app/place/[placeId]/place-box.tsx
  src/components/common/bottom-sheet/index.tsx
  src/components/common/carousel/index.tsx
  src/components/common/carousel/slide.tsx
  src/components/common/carousel/types.ts
  src/components/intro/steps/login.tsx
  src/components/intro/steps/login/index.tsx
  src/components/intro/steps/login/intro-carousel.tsx
  src/components/intro/steps/login/kakao-login.tsx
  src/components/place/place-list-item.tsx
  src/utils/classname.ts
Labels: refactor

#121 fix: bottom sheet!!!
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/components/common/bottom-sheet/index.tsx
  src/components/kakao-map/kakao-map.tsx
Labels: fix

#120 feat: my-map
  src/app/globals.css
  src/app/intro/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/create/page.tsx
  src/app/my-map/[mapId]/constant.ts
  src/app/my-map/[mapId]/crew-info-bottom-button.tsx
  src/app/my-map/[mapId]/crew-info-editable-item.tsx
  src/app/my-map/[mapId]/crew-info-list.tsx
  src/app/my-map/[mapId]/crew-info-read-only-item.tsx
  src/app/my-map/[mapId]/map-title.tsx
  src/app/my-map/[mapId]/page.tsx
  src/app/my-map/my-map-card.tsx
  src/app/my-map/page.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/boarding-pass/boarding-members.tsx
  src/components/common/bottom-modal.tsx
  src/components/common/icons/ArrowRight.svg
  src/components/common/icons/Pencil.svg
  src/components/common/icons/Person.svg
  src/components/common/icons/Pin.svg
  src/components/common/icons/index.ts
  src/components/intro/steps/index.ts
  src/components/intro/steps/map-name.tsx
Labels: feature

#124 Revert "feat: my-map"
  src/app/globals.css
  src/app/intro/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/create/page.tsx
  src/app/my-map/[mapId]/constant.ts
  src/app/my-map/[mapId]/crew-info-bottom-button.tsx
  src/app/my-map/[mapId]/crew-info-editable-item.tsx
  src/app/my-map/[mapId]/crew-info-list.tsx
  src/app/my-map/[mapId]/crew-info-read-only-item.tsx
  src/app/my-map/[mapId]/map-title.tsx
  src/app/my-map/[mapId]/page.tsx
  src/app/my-map/my-map-card.tsx
  src/app/my-map/page.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/boarding-pass/boarding-members.tsx
  src/components/common/bottom-modal.tsx
  src/components/common/icons/ArrowRight.svg
  src/components/common/icons/Pencil.svg
  src/components/common/icons/Person.svg
  src/components/common/icons/Pin.svg
  src/components/common/icons/index.ts
  src/components/intro/steps/index.ts
  src/components/intro/steps/mapname.tsx
Labels: feature

#123 feat: update the design of custom-toast
  src/components/common/custom-toast.tsx
Labels: feature

#126 feat: update like button design
  src/app/test-design/page.tsx
  src/components/intro/steps/login/intro-carousel.tsx
  src/components/like-button.tsx
  src/hooks/use-user-geo-location.ts
Labels: feature

#127 Feat: 임시 이벤트로 코드좀 건드렸어요
  src/app/setting/page.tsx
Labels: feature

#125 feat: my-map list and auth
  src/app/globals.css
  src/app/intro/page.tsx
  src/app/map/[mapId]/map-info-modal.tsx
  src/app/map/[mapId]/page.tsx
  src/app/map/create/page.tsx
  src/app/my-map/[mapId]/constant.ts
  src/app/my-map/[mapId]/crew-info-bottom-button.tsx
  src/app/my-map/[mapId]/crew-info-editable-item.tsx
  src/app/my-map/[mapId]/crew-info-list.tsx
  src/app/my-map/[mapId]/crew-info-read-only-item.tsx
  src/app/my-map/[mapId]/map-title.tsx
  src/app/my-map/[mapId]/page.tsx
  src/app/my-map/my-map-card.tsx
  src/app/my-map/page.tsx
  src/app/place/[placeId]/register/register-box.tsx
  src/app/test-design/page.tsx
  src/components/boarding-pass/boarding-info-pass.tsx
  src/components/boarding-pass/boarding-members.tsx
  src/components/common/bottom-modal.tsx
  src/components/common/icons/ArrowRight.svg
  src/components/common/icons/Pencil.svg
  src/components/common/icons/Person.svg
  src/components/common/icons/Pin.svg
  src/components/common/icons/index.ts
  src/components/intro/steps/index.ts
  src/components/intro/steps/map-name.tsx
  src/models/map.ts
  src/models/user.ts
  src/utils/api/index.ts
Labels: feature

#128 feat: setting page
  next.config.mjs
  src/app/map/[mapId]/page.tsx
  src/app/my-map/[mapId]/crew-info-editable-item.tsx
  src/app/my-map/[mapId]/crew-info-read-only-item.tsx
  src/app/setting/edit-nickname-bottom-modal.tsx
  src/app/setting/page.tsx
  src/components/boarding-pass/boarding-members.tsx
  src/components/common/avatar.tsx
  src/components/common/icons/PlusBold.svg
  src/components/common/icons/index.ts
  src/components/intro/steps/nickname.tsx
  src/constants/nickname.ts
  src/models/map.ts
  src/models/user.ts
  src/utils/api/http-client.ts
  src/utils/api/index.ts
  src/utils/formdata.ts
Labels: feature

#122 feat: like tooltip
  src/app/place/[placeId]/like-tooltip.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-delete-modal.tsx
  src/app/place/[placeId]/place-liked-users.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/place/[placeId]/register/register-box.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/test-design/page.tsx
  src/components/common/avatar.tsx
  src/components/like-button.tsx
  src/components/place/types.ts
  src/models/api/place.ts
Labels: feature

#130 feat: implement skeleton
  src/app/globals.css
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/map/[mapId]/place-list-skeleton.tsx
  src/app/place/[placeId]/page.tsx
  src/app/place/[placeId]/place-box-skeleton.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/search/[query]/result-place-popup-skeleton.tsx
  src/app/setting/page.tsx
  src/components/common/bottom-sheet/index.tsx
  src/components/common/icons/Hyperlink.svg
  src/components/common/icons/index.ts
  src/components/common/input.tsx
  src/components/common/proxy-image.tsx
  src/components/common/skeleton.tsx
  src/components/korrk-kakao-map.tsx
  src/components/place/kakao-rating.tsx
  src/components/place/place-map-popup.tsx
  src/components/place/place-popup-skeleton.tsx
  src/hooks/use-window-size.ts
  tailwind.config.ts
Labels: feature

#131 feat: ai recommend page
  package-lock.json
  package.json
  public/images/ai-recommend.png
  public/images/ai.png
  src/app/globals.css
  src/app/recommendation/ai-recommend-place-box.tsx
  src/app/recommendation/chat-box.tsx
  src/app/recommendation/chat-input.tsx
  src/app/recommendation/chat-item.tsx
  src/app/recommendation/chat-loading-dot.tsx
  src/app/recommendation/chat-loading.tsx
  src/app/recommendation/page.tsx
  src/app/recommendation/type.ts
  src/components/common/icons/PaperPlaneTilt.svg
  src/components/common/icons/index.ts
Labels: feature

#132 fix: scroll with prettier
  .eslintrc.json
  .gitignore
  .prettierrc.json
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/map/[mapId]/place-list-skeleton.tsx
  src/app/my-map/[mapId]/crew-info-bottom-button.tsx
  src/app/my-map/[mapId]/crew-info-editable-item.tsx
  src/app/my-map/[mapId]/crew-info-read-only-item.tsx
  src/app/my-map/my-map-card.tsx
  src/app/my-map/page.tsx
  src/app/place/[placeId]/like-tooltip.tsx
  src/app/place/[placeId]/place-box-skeleton.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-liked-users.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/place/[placeId]/register/hash-tag-list.tsx
  src/app/recommendation/ai-recommend-place-box.tsx
  src/app/recommendation/chat-box.tsx
  src/app/recommendation/chat-input.tsx
  src/app/recommendation/chat-item.tsx
  src/app/recommendation/chat-loading-dot.tsx
  src/app/recommendation/chat-loading.tsx
  src/app/recommendation/guide.ts
  src/app/recommendation/page.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/setting/page.tsx
  src/app/test-design/page.tsx
  src/components/common/avatar.tsx
  src/components/common/skeleton.tsx
  src/components/intro/steps/invite.tsx
  src/components/intro/steps/login/intro-carousel.tsx
  src/components/intro/steps/new-map.tsx
  src/components/like-button.tsx
  src/components/place/place-popup-skeleton.tsx
  src/styles/fonts.ts
Labels: fix

#134 chore: update likedUserIds to likedUsers
  src/app/map/[mapId]/page.tsx
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/app/search/[query]/result-search-list.tsx
  src/components/place/place-map-popup.tsx
  src/constants/place.ts
  src/models/api/place.ts
  src/utils/format.ts
Labels: feature

#133 feat: auth in place detail
  src/app/globals.css
  src/app/place/[placeId]/place-box.tsx
  src/app/recommendation/page.tsx
  src/app/search/[query]/result-search-list.tsx
  src/app/search/suggest-place-list.tsx
  src/app/test-design/page.tsx
  src/components/kakao-map/gps-button.tsx
  src/components/kakao-map/kakao-map.tsx
  src/components/place/place-action-buttons.tsx
  src/hooks/use-user-geo-location.ts
  src/models/map.ts
Labels: feature

#136 feat: infinite scroll just working on frontend bottomsheet
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/components/place/place-list-item.tsx
  src/hooks/use-infinite-scroll.ts
Labels: feature

#137 feat: edit visibility of map
  src/app/my-map/[mapId]/map-title.tsx
Labels: feature

#138 fix: rename all likedUsers to likedUser & add error handling
  src/app/intro/page.tsx
  src/app/place/[placeId]/place-box.tsx
  src/app/place/[placeId]/place-delete-modal.tsx
  src/app/place/[placeId]/place-liked-users.tsx
  src/app/place/[placeId]/place-top-information.tsx
  src/app/search/[query]/result-place-map-popup.tsx
  src/components/intro/steps/login/intro-carousel.tsx
  src/components/place/types.ts
  src/models/api/place.ts
Labels: fix

#141 feat: add map description and refactor my map info page
  src/app/my-map/[mapId]/map-info-editable-description.tsx
  src/app/my-map/[mapId]/map-info-editable-title.tsx
  src/app/my-map/[mapId]/map-info-visibility.tsx
  src/app/my-map/[mapId]/map-info.tsx
  src/app/my-map/[mapId]/map-title.tsx
  src/app/my-map/[mapId]/page.tsx
  src/app/my-map/[mapId]/type.ts
  src/app/setting/edit-nickname-bottom-modal.tsx
  src/components/common/text-area.tsx
  src/components/intro/steps/map-name.tsx
  src/components/intro/steps/nickname.tsx
  src/constants/input.ts
  src/constants/nickname.ts
Labels: feature

#139 feat: gpt intro
  public/images/gpt-logo.png
  public/images/korrk-icon-logo.png
  src/components/common/icons/Location.svg
  src/components/common/icons/gradient-logo.svg
  src/components/common/icons/index.ts
  src/components/kakao-map/ai-recommend-button.tsx
  src/components/kakao-map/floating-button-box.tsx
  src/components/kakao-map/gps-button.tsx
  src/components/kakao-map/gps-marker.tsx
  src/components/kakao-map/gpt-intro-modal.tsx
  src/components/korrk-kakao-map.tsx
  src/models/api/gpt.ts
  src/utils/api/index.ts
  tailwind.config.ts
Labels: feature

#140 feat: implement place image page
  src/app/place/[placeId]/error.tsx
  src/app/place/[placeId]/image/loading.tsx
  src/app/place/[placeId]/image/page.tsx
  src/app/place/[placeId]/layout.tsx
  src/app/place/[placeId]/loading.tsx
  src/app/place/[placeId]/page.tsx
  src/app/place/[placeId]/place-box.tsx
  src/components/place/menu-list.tsx
  src/utils/api/api-client-factory.ts
Labels: feature

#144 fix: update likedUser of sliced placeList
  package-lock.json
  src/app/map/[mapId]/place-list-bottom-sheet.tsx
  src/app/place/[placeId]/place-box.tsx
Labels: fix
